<!-- Validation failure messages -->
<% if @conversation.errors.any? %>
  <% @conversation.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Conversation</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_conversation" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for sender_id -->
      <div class="form-group">
        <label for="sender_id" class="control-label">
          Sender
        </label>

        <input type="text" id="sender_id" name="sender_id" placeholder="Sender" class="form-control" value="<%= @conversation.sender_id %>">
      </div>

      <!-- Label and input for receiver_id -->
      <div class="form-group">
        <label for="receiver_id" class="control-label">
          Receiver
        </label>

        <input type="text" id="receiver_id" name="receiver_id" placeholder="Receiver" class="form-control" value="<%= @conversation.receiver_id %>">
      </div>

      <button class="btn btn-success">
        Create Conversation
      </button>
      or
      <a href="/conversations">Cancel</a>
    </form>
  </div>
</div>
