<div class="page-header">
  <h1>
    Events
    <a href="/events/new" class="btn btn-lg btn-success">New Event</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Picture</th>
        <th>Name</th>
        <th>Actions</th>

      </tr>

      <% @events.each do |event| %>
      <tr>
        <td>  <img src="<%= event.image_url %>" class ="img-responsive"></td>
        <td><%= event.name %></td>

        <td>
          <a href="/events/<%= event.id %>" class="btn btn-primary">Show</a>

        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
